@import 'maps.less';

@breakpointMobile: ~"(max-width: 767px)";
@breakpointTablet: ~"(max-width: 1023px)";


.mb-8 {
    margin-bottom: 8px;
}

.fs-14 {
    font-size: 14px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #colors[backgroundColor];
    color: #colors[textColor];
}

.container {
    max-width: 580px;
    width: 100%;
    margin: 0 auto;
    @media @breakpointTablet {
        max-width: 80%;
    }
    
    @media @breakpointMobile {
        max-width: 70%;
    }
}

header {
    padding: 24px;

    .profile-avatar {
        display: block;
        margin: 0 auto 24px;
        border-radius: 50%;
    }
    
    .profile-bio {
        text-align: center;

        &-name {
            font-size: 16px;
            .mb-8();
        }
        &-subtitle{
            .fs-14();
            .mb-8();
        }
        &-description {
            .fs-14();
            opacity: .7;
        }
    }
}

.social-links {
    display: flex;
    justify-content: space-between;
    max-width: 240px;
    width: 100%;
    margin: 0 auto;

    li {
        list-style: none;

        img {
            transition: all ease .3s;
            &:hover{
                transform: scale(1.3);
            }
        }
    }
}